
  <div>
    <%= f.label :title, "title" %>
    <%= f.text_field :title %>
    <%= f.label :content, "Content" %>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.submit "Create" %>
  </div>
